Repository TheOnlyTails/RubyMod, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, repo-managment, features-and-bug-fixes

.github/labeler.yml:

# add "dependencies" tag to any PR that changes gradle.properties, mods.toml, or build.gradle.
dependencies:
  - ./gradle.properties
  - ./build.gradle
  - ./src/main/resources/META-INF/mods.toml
  
repo-managment:
  - ./.github/*
  - ./CODE_OF_CONDUCT.md
  - ./CONTRIBUTING.md
  - ./LICENSE
  - ./README.md
  
features-and-bug-fixes:
  ./src/main/*

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Bump forge to 35.1.28
  gradle.properties
Labels: dependencies

Refactored some stuff.
  build.gradle
  gradle.properties
Labels: dependencies

Moved to using Kotlin DSL for gradle.
  build.gradle
  build.gradle.kts
  gradle.properties
Labels: dependencies

Fixed gradle issues.
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Update build.gradle.kts
  build.gradle.kts
Labels: none

Updated to 1.16.5!
  gradle.properties
Labels: dependencies

Updated to 1.16.5!
  gradle.properties
Labels: dependencies

Updated to FG4 and Gradle 6.8. Updated to KFF 1.7.0.
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/kotlin/com/github/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/BlockRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/ContainerTypeRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/EnchantmentRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/EntityTypeRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/FluidRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/ItemRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/PotionRegistry.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/TileEntityTypes.kt
  src/main/kotlin/com/github/theonlytails/rubymod/registries/VillagerProfessionsRegistry.kt
Labels: dependencies

Update LICENSE
  LICENSE
Labels: repo-managment

Update LICENSE (#55)
  LICENSE
Labels: repo-managment

Update README.md
  README.md
Labels: repo-managment

Moved the model to the same file with the renderer.
  src/main/kotlin/com/github/theonlytails/rubymod/client/model/RubySheepModel.kt
  src/main/kotlin/com/github/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/github/theonlytails/rubymod/client/render/RubySheepWoolLayer.kt
Labels: none

Update README.md
  README.md
Labels: repo-managment

Fix path to ruby sheep model.
  README.md
Labels: repo-managment

Reorganization (#56)
  README.md
  src/main/kotlin/com/github/theonlytails/rubymod/client/model/RubySheepModel.kt
  src/main/kotlin/com/github/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/github/theonlytails/rubymod/client/render/RubySheepWoolLayer.kt
Labels: repo-managment

Updated ForgeGradle to 4.0.15 Updated Forge 36.0.14 Updated KotlinForForge to 1.8.0
  build.gradle.kts
  gradle.properties
Labels: dependencies

Updated ForgeGradle to 4.0.15 (#58)
  build.gradle.kts
  gradle.properties
Labels: dependencies

Create superlinter.yml
  .github/workflows/superlinter.yml
Labels: none

Removed dangling spaces.
  .github/workflows/superlinter.yml
Labels: none

Renamed superlinter action.
  .github/workflows/superlinter.yml
Labels: none

Create superlinter.yml (#59)
  .github/workflows/superlinter.yml
Labels: none

Fix imports.
  src/main/kotlin/com/theonlytails/rubymod/RubyMod.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/LogicGateBlock.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyBarrelBlock.kt
  src/main/kotlin/com/theonlytails/rubymod/client/gui/RubyBarrelScreen.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepWoolLayer.kt
  src/main/kotlin/com/theonlytails/rubymod/containers/RubyBarrelContainer.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockTagDataGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/EntityLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/ItemTagGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/LangGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/RecipesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/enchantments/StingerEnchantment.kt
  src/main/kotlin/com/theonlytails/rubymod/entities/RubySheepEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/events/ModEvents.kt
  src/main/kotlin/com/theonlytails/rubymod/items/PoisonedAppleItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyArmorItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyItem.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BlockRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ContainerTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EnchantmentRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EntityTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ItemRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/TileEntityTypes.kt
  src/main/kotlin/com/theonlytails/rubymod/tileentities/RubyBarrelTileEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/trades/ItemsForRubyAndItemsTrade.kt
  src/main/kotlin/com/theonlytails/rubymod/trades/ItemsForRubyTrade.kt
  src/main/kotlin/com/theonlytails/rubymod/trades/TradesRegisterer.kt
  src/main/kotlin/com/theonlytails/rubymod/util/enums/RubyArmorMaterial.kt
  src/main/kotlin/com/theonlytails/rubymod/util/enums/RubyItemTier.kt
  src/main/kotlin/com/theonlytails/rubymod/world/BiomeMaker.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: none

fix super linter
  .github/workflows/superlinter.yml
Labels: none

Add Lint code base tag to README
  README.md
Labels: repo-managment

Update README.md
  README.md
Labels: repo-managment

fix super linter (#61)
  .github/workflows/superlinter.yml
  README.md
Labels: repo-managment

Move tags after top level header
  README.md
Labels: repo-managment

Split the loot table data gen section.
  README.md
Labels: repo-managment

Fix super linter (#62)
  README.md
Labels: repo-managment

Fixed some typos and code style issues.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  CODE_OF_CONDUCT.md
  src/main/kotlin/com/theonlytails/rubymod/RubyMod.kt
  src/main/kotlin/com/theonlytails/rubymod/events/ForgeEvents.kt
  src/main/kotlin/com/theonlytails/rubymod/util/ExtensionStuff.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: repo-managment

Remove super linter.
  .github/workflows/superlinter.yml
  README.md
Labels: repo-managment

Update readme links
  README.md
Labels: repo-managment

Update readme links (#64)
  README.md
Labels: repo-managment

Replace fully qualified names with imports.
  src/main/kotlin/com/theonlytails/rubymod/client/gui/RubyBarrelScreen.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepWoolLayer.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockTagDataGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/EntityLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/ItemModelsGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/ItemTagGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/LangGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/RecipesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/enchantments/StingerEnchantment.kt
  src/main/kotlin/com/theonlytails/rubymod/entities/RubySheepEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyArmorItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyItem.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BlockRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ContainerTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EnchantmentRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EntityTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/FluidRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ItemRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/PotionRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/TileEntityTypes.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/VillagerProfessionsRegistry.kt
Labels: none

Replace fully qualified names with imports. (#65)
  src/main/kotlin/com/theonlytails/rubymod/client/gui/RubyBarrelScreen.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepWoolLayer.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockTagDataGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/EntityLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/ItemModelsGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/ItemTagGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/LangGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/RecipesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/enchantments/StingerEnchantment.kt
  src/main/kotlin/com/theonlytails/rubymod/entities/RubySheepEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyArmorItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyItem.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BlockRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ContainerTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EnchantmentRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/EntityTypeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/FluidRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/ItemRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/PotionRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/TileEntityTypes.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/VillagerProfessionsRegistry.kt
Labels: none

Updated to kotlin 1.4.30. Updated forge and KFF.
  build.gradle.kts
  gradle.properties
Labels: dependencies
