Repository TheOnlyTails/RubyMod, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, repo-managment, features-and-bug-fixes

Updated to kotlin 1.4.30. (#66)
  build.gradle.kts
  gradle.properties
Labels: dependencies

Create qodana.yml
  .github/workflows/qodana.yml
Labels: none

Remove trailing spaces.
  .github/workflows/qodana.yml
Labels: none

Removed planned features section from README
  README.md
Labels: repo-managment

Removed planned features section from README (#68)
  README.md
Labels: repo-managment

Update README.md
  README.md
Labels: repo-managment

Add links in the readme credits. #69
  README.md
Labels: repo-managment

Updated kotlin Updated forge
  build.gradle.kts
  gradle.properties
Labels: dependencies

Updated KFF.
  gradle.properties
Labels: dependencies

Updated to Kotlin 1.4.31 (#71)
  build.gradle.kts
  gradle.properties
Labels: dependencies

Added feature registration to increase compatibility with other mods.
  src/main/kotlin/com/theonlytails/rubymod/registries/FeatureRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: none

Updated the code to look a lot more "kotlin-y".
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/com/theonlytails/rubymod/RubyMod.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/Centrifuge.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/LogicGate.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyBarrel.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyCarpet.kt
  src/main/kotlin/com/theonlytails/rubymod/client/gui/RubyBarrelScreen.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/theonlytails/rubymod/containers/RubyBarrelContainer.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockTagDataGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/enchantments/StingerEnchantment.kt
  src/main/kotlin/com/theonlytails/rubymod/entities/RubySheepEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/items/CustomSpawnEggItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/PoisonedApple.kt
  src/main/kotlin/com/theonlytails/rubymod/items/Ruby.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyArmor.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/tileentities/RubyBarrelTileEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/trades/TradesRegisterer.kt
  src/main/kotlin/com/theonlytails/rubymod/util/BrewingRecipes.kt
  src/main/kotlin/com/theonlytails/rubymod/world/BiomeMaker.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: dependencies

Fixed some issues.
  src/main/kotlin/com/theonlytails/rubymod/RubyMod.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/Centrifuge.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyBarrel.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyCarpet.kt
  src/main/kotlin/com/theonlytails/rubymod/containers/RubyBarrelContainer.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/FeatureRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/tileentities/RubyBarrelTileEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/util/BrewingRecipes.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: none

Migrated the mod to use the official MojMaps mappings. (#73)
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/com/theonlytails/rubymod/RubyMod.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/Centrifuge.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/LogicGate.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyBarrel.kt
  src/main/kotlin/com/theonlytails/rubymod/blocks/RubyCarpet.kt
  src/main/kotlin/com/theonlytails/rubymod/client/gui/RubyBarrelScreen.kt
  src/main/kotlin/com/theonlytails/rubymod/client/render/RubySheepRenderer.kt
  src/main/kotlin/com/theonlytails/rubymod/containers/RubyBarrelContainer.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockTagDataGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/enchantments/StingerEnchantment.kt
  src/main/kotlin/com/theonlytails/rubymod/entities/RubySheepEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/items/CustomSpawnEggItem.kt
  src/main/kotlin/com/theonlytails/rubymod/items/PoisonedApple.kt
  src/main/kotlin/com/theonlytails/rubymod/items/Ruby.kt
  src/main/kotlin/com/theonlytails/rubymod/items/RubyArmor.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/BiomeRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/registries/FeatureRegistry.kt
  src/main/kotlin/com/theonlytails/rubymod/tileentities/RubyBarrelTileEntity.kt
  src/main/kotlin/com/theonlytails/rubymod/trades/TradesRegisterer.kt
  src/main/kotlin/com/theonlytails/rubymod/util/BrewingRecipes.kt
  src/main/kotlin/com/theonlytails/rubymod/world/BiomeMaker.kt
  src/main/kotlin/com/theonlytails/rubymod/world/FeatureGen.kt
Labels: dependencies

Switched from the default loot table creation system to the LootTables DSL system.
  build.gradle.kts
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
Labels: none

Fixed a problem where loot entries being generated by the LootTables DSL were being added twice. Fixed a problem with the dependency.
  build.gradle.kts
  src/generated/resources/.cache/cache
  src/generated/resources/data/rubymod/loot_tables/blocks/centrifuge.json
  src/generated/resources/data/rubymod/loot_tables/blocks/ruby_barrel.json
  src/generated/resources/data/rubymod/loot_tables/blocks/ruby_ore.json
  src/generated/resources/data/rubymod/recipes/ruby_carpet_from_carpet.json
  src/generated/resources/data/rubymod/recipes/ruby_carpet_from_wool.json
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
Labels: none

Minor changes in build.gradle.kts.
  build.gradle.kts
Labels: none

Updated LootTables.
  build.gradle.kts
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
Labels: none

Fixed a problem with the centrifuge's blockstates file.
  src/main/resources/assets/rubymod/blockstates/centrifuge.json
Labels: none

Switched from the default loot table creation system to the LootTables DSL system. (#74)
  build.gradle.kts
  src/generated/resources/.cache/cache
  src/generated/resources/data/rubymod/loot_tables/blocks/centrifuge.json
  src/generated/resources/data/rubymod/loot_tables/blocks/ruby_barrel.json
  src/generated/resources/data/rubymod/loot_tables/blocks/ruby_ore.json
  src/generated/resources/data/rubymod/recipes/ruby_carpet_from_carpet.json
  src/generated/resources/data/rubymod/recipes/ruby_carpet_from_wool.json
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
  src/main/resources/assets/rubymod/blockstates/centrifuge.json
Labels: none

Updated Forge
  gradle.properties
Labels: dependencies

Updated Forge (#75)
  gradle.properties
Labels: dependencies

Updated LootTables and fixed some of the generated loot tables.
  build.gradle.kts
  src/generated/resources/.cache/cache
  src/generated/resources/data/rubymod/loot_tables/blocks/centrifuge.json
  src/generated/resources/data/rubymod/loot_tables/blocks/ruby_ore.json
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
Labels: none

Updated LootTables.
  build.gradle.kts
  gradle.properties
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/util/BrewingRecipes.kt
Labels: dependencies

Updated Forge.
  build.gradle.kts
  gradle.properties
Labels: dependencies

Switched the language badge.
  README.md
Labels: repo-managment

Added a CurseForge downloads badge.
  README.md
Labels: repo-managment

Update README.md
  README.md
Labels: repo-managment

Update README.md
  README.md
Labels: repo-managment

Create README.md
  README.md
Labels: repo-managment

Update the ForgeGradle URL.
  build.gradle.kts
Labels: none

Update versions
  gradle.properties
Labels: dependencies

Update gradle.yml
  .github/workflows/gradle.yml
Labels: none

Update gradle.yml
  .github/workflows/gradle.yml
Labels: none

Added build workflow badge to readme
  README.md
Labels: repo-managment

Replaced the explicit link to the fabric port with an inline one
  README.md
Labels: repo-managment

Overhauled build.gradle.kts. Updated LootTables.
  build.gradle.kts
  gradle.properties
  src/main/kotlin/com/theonlytails/rubymod/datagen/BlockLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/DataGenerators.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/EntityLootTablesGenerator.kt
  src/main/kotlin/com/theonlytails/rubymod/datagen/GiftLootTablesGenerator.kt
Labels: dependencies

Create dependabot.yml
  .github/dependabot.yml
Labels: repo-managment

Delete dependabot.yml
  .github/dependabot.yml
Labels: repo-managment

Updated stuff
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

.github/labeler.yml:

# add "dependencies" tag to any PR that changes gradle.properties, mods.toml, or build.gradle.
dependencies:
  - ./gradle.properties
  - ./build.gradle
  - ./src/main/resources/META-INF/mods.toml
  
repo-managment:
  - ./.github/*
  - ./CODE_OF_CONDUCT.md
  - ./CONTRIBUTING.md
  - ./LICENSE
  - ./README.md
  
features-and-bug-fixes:
  ./src/main/*
